name: Azure Static Web Apps CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ASHY_MUSHROOM_033DA631E }}
          action: "upload"
          app_location: "/"          # repo root
          output_location: ""        # nothing to build; deploy static files as-is
          skip_app_build: true
